/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* CONTAINER */

.container {
    max-width: 1500px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}


/* Header */

.site-header {
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px #00000040;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name-link {
    margin-top: 22px;
    margin-bottom: 22px;
}

.sitename-img:hover {
    opacity: 0.8;
}

.sitename-img:active {
    opacity: 0.6;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav-item {
    list-style: none;
    margin-left: 50px;
}

.site-nav-item-link {
    text-decoration: none;
    color: rgba(31, 46, 53, 0.8);
}

.client::after,
.about::after {
    content: "";
    background-image: url('../images/Down.svg');
    background-repeat: no-repeat;
    width: 13px;
    height: 9px;
    display: inline-block;
    color: rgba(31, 46, 53, 0.8);
}

.header-nav-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-item {
    list-style: none;
    margin-left: 24px;
}


/* MAIN CONTENT */

.main-content {
    flex-grow: 1;
}


/* INformation ection */

.information-section {
    margin-top: 51px;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 110px;
}

.info-section-text {
    width: 50%;
}

.section-title {
    width: 545px;
    font-weight: 700;
    font-size: 48px;
    color: #1F2E35;
    margin: 0;
}

.info-section-title-span {
    color: #EE4248;
    font-weight: 500;
}

.growing {
    font-weight: 600;
}

.section-text {
    width: 520px;
    color: #30444E;
    font-size: 20px;
    line-height: 29px;
    margin-top: 24px;
}

.global-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 32px;
    background-color: #EE4248;
    margin-top: 24px;
    border-radius: 4px;
    font-size: 20px;
}

.info-section-img {
    width: 50%;
}

.indonesia-section {
    margin-top: 163px;
    background-color: #F6F6F6;
}

.indi-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.indi-section-img {
    margin-right: 82px;
}

.indi-section-text {
    margin-top: 57px;
}

.indi-section-title {
    width: 454px;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
}

.DSi {
    color: #EE4248;
    font-weight: 500;
}

.indi-section-span {
    color: #EE4248;
}

.indi-section-paragraf {
    color: #30444E;
    line-height: 27px;
}

.services {
    margin-top: 116px;
    width: 1126px;
}

.service-section-title {
    text-align: center;
}

.services-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
}

.services-item {
    list-style: none;
}

.product {
    margin-right: 53px;
    width: 319px;
}

.article-title {
    font-size: 28px;
    line-height: 37px;
    align-self: center;
}

.article-text {
    line-height: 27px;
}

.service {
    width: 329px;
    margin-right: 43px;
}